<?xml version='1.0'?>
<xefis-config version='1.0'>
	<settings>
		<setting name='update-frequency' value='100 Hz'/>
		<setting name='navaids.enable' value='false'/>
	</settings>
	<modules>
		<include name='gps.xml'/>
	</modules>
	<windows>
		<window width='400' height='500' full-screen='false'>
			<layout type='vertical'>
				<item>
					<instrument name='instruments/label'>
						<label>GPS TEST</label>
						<align>hcenter vcenter</align>
						<color>#fb4</color>
						<font-size>20</font-size>
					</instrument>
				</item>
			</layout>
		</window>
	</windows>
</xefis-config>


